:root {

    --Mobile: 375px;
    --Desktop: 1440px;

    --color-accent: hsl(158, 36%, 37%);
    --color-accent-dark: hsl(158, 36%, 17%);
    --light-background: hsl(30, 38%, 92%);

    --headings-text-color: hsl(212, 21%, 14%);
    --main-text-color: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'Fraunces', serif;

    --fs-small: 0.625rem;
    --fs-normal: 1.125rem;
    --fs-Large: 2.25rem;
    --fs-XLarge: 3.25rem;

    --fw-normal: 500;
    --fw-bold: 700;
}

@media only screen and (min-width: 50em) {
    :root {
        --fs-small: 0.625rem;
        --fs-normal: 1.125rem;
        --fs-Large: 2.75rem;
        --fs-XLarge: 4rem;
    }
}

@media only screen and (min-width: 65em) {
    :root {
        --fs-small: 0.625rem;
        --fs-normal: 1.125rem;
        --fs-Large: 2.75rem;
        --fs-XLarge: 5rem;
    }

}


/**********
 CSS Resets 
 ***********/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-secondary);
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}


/**************
 General Styles
 **************/

body {
    font-family: var(--ff-primary);
    color: var(--main-text-color);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
}

.container {
    max-width: 1088px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.product-grid {
    display: grid;
    gap: 0.125rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.card {
    aspect-ratio: 1 / 1.5;
    border: 3px solid var(--color-accent);
}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
}

.card__content {
    background: var(--White);
    align-self: flex-end;
    margin: 0.5rem 0.5rem 2rem;
    padding: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgba(0 0 0 / 0.1);
}

.card__title {
    font-size: 1.25rem;
    line-height: 1.1;
    color: var(--headings-text-color)
}

.card__price {
    font-size: 1.75rem;
}

.product-title {
    font-size: 2rem;
    line-height: 1;
    color: var(--color-accent-dark);
    padding: 0.125em 0.5em;
    margin-bottom: 1em;
}

@media (min-width: 60em) {
    .card__img {
        aspect-ratio: 1 / 1;
    }
}